body {
    background-color: rgb(32, 31, 31);
    color: rgb(248, 245, 241);
    margin: 4%;
}

h1,
h5,
h3 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

img {
    width: fit-content;
    height: 640px;
}

#vegetta {
    height: fit-content;
}